{% extends 'base.html' %}
{% load static %}
{% block title %}
مشتریان
{% endblock title %}

{% block page_title %}
لیست مشتریان 
{% endblock page_title %}

{% block breadcrumb %}
<ol class="breadcrumb m-0">
    <li class="breadcrumb-item"><a href="javascript: void(0);">صفحه اصلی</a></li>
    <li class="breadcrumb-item active">لیست مشتری </li>
</ol>
{% endblock breadcrumb %}

{% block content %}
<script src="{% static 'assets/js/customs/customer_order.js' %}" defer></script>
<!-- customer order modal start -->
    <div class="modal fade" id="customer-order-modal" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0" id="customer-order-modal-header"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="customer-order-modal-body">
                    
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
<!-- customer order modal end -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <table id="customer-datatable" class="table table-bordered dt-responsive nowrap"
                                        style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>شماره مسلسل</th>
                            <th>نام کامل</th>
                            <th>شماره تماس</th>
                            <th>آدرس</th>
                            <th> </th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for customer in customers %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{customer.full_name}}</td>
                                <td>{{customer.phone_number}}</td>
                                <td>{{customer.address}}</td>
                                <td>
                                    <button class="btn btn-primary">
                                        <i class="bx bx-edit-alt"></i>
                                    </button>
                                    <button class="btn btn-danger">
                                        <i class="bx bx-trash"></i>
                                    </button>
                                    <a href="{% url 'customer-orders' customer.id %}" 
                                    class="btn btn-success"
                                    >
                                        <i class='bx bx-dots-horizontal-rounded'></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                
                    <tbody>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
{% endblock content %}