{% extends 'base.html' %}
{% load static %}
{% block title %}
فرمایشات
{% endblock title %}

{% block page_title %}
لیست فرمایشات {{customer.full_name}}
{% endblock page_title %}

{% block breadcrumb %}
<ol class="breadcrumb m-0">
    <li class="breadcrumb-item"><a href="javascript: void(0);">صفحه اصلی</a></li>
    <li class="breadcrumb-item"><a href="{% url 'customer-list' %}">لیست مشتری</a></li>
    <li class="breadcrumb-item active">لیست فرمایشات {{customer.full_name}}</li>
    
</ol>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8">
                        <h4>لیست فرمایشات </h4>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>شماره مسلسل</th>
                                    <th>شماره فرمایشات</th>
                                    <th>مقدار</th>
                                    <th>اندازه</th>
                                    <th>مجموع کل</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in today_orders %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{order.id}}</td>
                                        <td>{{order.quantity}}</td>
                                        <td>{{order.length|floatformat:"2"}} &times; {{order.height|floatformat:"2"}}</td>
                                        <td>
                                            {{order.total_price}}
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                    <p class="alert alert-info text-center">هیچ فرمایشی برای امروز ثبت نشده</p>
                                    </tr>
                                {% endfor %}
                            </tbody>                        
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}